* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 1000px;
  background: -webkit-gradient(linear, left top, left bottom, from(#d2f8d2), to(white));
  background: linear-gradient(#d2f8d2, white);
  font-family: Arial, Helvetica, sans-serif;
  color: #383838;
  width: 100%;
}

#potContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100px;
  z-index: 5;
  margin-bottom: 13rem;
}

#potContainer:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.bigger {
  height: 200px !important;
}

#pot {
  margin-top: 10rem;
}

.smallPic {
  width: 400px;
  height: 250px;
  padding: 0.1rem;
}

#mainHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#mainHeader h1 {
  margin-bottom: 2rem;
}

#mainNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem;
  width: 100%;
  font-family: "bad script";
  height: 250px;
  background: url(/laraimg/leafline.png) no-repeat;
  background-attachment: fixed;
}

#mainNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

#mainNav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 5rem;
  height: 300px;
  width: 500px;
  list-style: none;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

#mainNav ul li:hover {
  background: url(/laraimg/leaf.png) no-repeat center center/cover;
  padding-top: 2rem;
}

#mainNav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 rem;
  list-style: none;
  text-decoration: none;
  color: black;
  list-style: none;
  font-size: 40px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#mainNav ul li a:hover {
  padding: 1rem;
  list-style: none;
  text-transform: uppercase;
  text-decoration: none;
  color: #06623b;
}

#logo {
  width: 1000px;
  height: 600px;
  padding: 2rem;
  z-index: -1;
  margin-bottom: 4rem;
}

#shroom {
  width: 280px;
  height: 450px;
  margin-left: 40%;
}

.about-a {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin: 1rem;
}

.about-a img {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0.5rem;
}

.about-a img:hover {
  opacity: 0.8;
}

.about-a p {
  border: 1px solid black;
  font-size: 30px;
  padding: 1rem;
  text-align: left;
}

.about-a h4 {
  border: 1px solid black;
  font-size: 5.5rem;
  padding: 1rem;
  text-align: right;
}

.about-b .content {
  border: 1px solid black;
  height: 900px;
  margin: 1rem;
  background: url(/img/top.jpg) no-repeat center center/cover;
}

.about-b h4 {
  font-size: 2.9rem;
  font-family: "just another hand";
  letter-spacing: 1px;
  color: #06623b;
}

.leafPic {
  margin: auto;
}

.formControl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.formControl input {
  padding: 0.5rem;
}

#products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

#products div h1 {
  margin-left: 300px !important;
}

#products .products-a {
  width: 700px;
}

#products .products-a .content {
  text-align: center;
  margin-left: 10%;
}

#products .products-a .content div {
  border: 1px solid #3ec300;
  border-radius: 20px;
  margin: 1rem 0;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#products .products-a .content div a {
  margin: 20px auto;
}

#products .products-a .content img {
  border: 1px solid black;
}

#products .products-a .content img:hover {
  opacity: 0.8;
}

#products .products-a h4 {
  font-size: 40px;
  font-family: "quicksand";
}

#products .products-a h5 {
  font-size: 30px;
  font-family: "quicksand";
}

#products .products-b {
  margin-right: 33%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

#products .products-b img {
  width: 100%;
}

#products .products-b h4 {
  font-size: 70px;
}

#contactSection {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#ccf6cc));
  background: linear-gradient(white, #ccf6cc);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contactSection .contact-a img {
  border: 1px solid #3ec300;
}

#contactSection .contact-b {
  width: 500px;
}

#contactSection #contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contactSection #contactForm input {
  height: 100px;
}

#contactSection #contactForm input:focus {
  outline-color: #3ec300;
}

.contact-c {
  background: #ccf6cc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-decoration: none;
  padding: 2rem;
}

.contact-c div {
  background: url(/laraimg/leafcircleframe.png) no-repeat center center/cover;
  width: 100%;
  margin: 20px 200px;
  padding: 2rem;
}

.contact-c div p {
  font-size: 30px;
  padding: 3rem;
}

.contact-c div i {
  padding: 1rem;
  color: #3ec300;
}

#mainFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  height: 300px;
  background-color: #333;
}

#mainFooter img {
  width: 300px;
  height: 200px;
  padding: 2rem;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
}

.hide {
  display: none;
}

.show {
  display: block;
}

#readmore {
  display: none;
}

.subscribeBox {
  border: 4px solid #06623b;
  border-radius: 10px;
  background: url(/img/grass.jpg);
  margin: 3rem;
  padding: 2rem;
  color: white;
  margin-left: 20%;
}

.subscribeBox h4 {
  color: yellow;
  background: #06623b;
  height: 50px;
  border-radius: 10px;
  width: 447px;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem;
  margin-bottom: 2%;
}

.subscribeBox p {
  padding: 1rem;
  background: #333;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-bottom: 1%;
}

.bottomLine {
  border-bottom: 15px solid #06623b;
  border-bottom-right-radius: 50%;
  margin-bottom: 5rem !important;
}

.btn {
  width: 200px;
  padding: 1rem;
  background: #06623b;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: yellow;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  color: #3ec300;
  background: #333;
  cursor: pointer;
  border: 1px solid #3ec300;
}

.sectionTitle {
  font-family: "quicksand";
  margin: 0 auto;
  width: 50%;
  color: #06623b;
  font-size: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 50px;
}

.container {
  width: 80%;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin: auto;
}

@media (max-width: 800px) {
  #mainHeader {
    width: 800px !important;
  }
  #logoContainer {
    width: 500px !important;
  }
  #logo {
    width: 500px !important;
    margin-right: 200px;
    height: 300px;
  }
  #potContainer {
    width: 500px !important;
    margin-right: 200px;
    height: 300px;
  }
  #pot {
    width: 100px !important;
    margin-right: 220px;
    height: 100px;
  }
  #mainNav {
    margin-right: 200px;
    margin-top: 400px;
  }
  #mainNav nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about {
    margin-top: 21rem;
  }
}
/*# sourceMappingURL=style.css.map */